# Precompiled Headers
*.gch
*.pch

# Executables
*.out
*.app

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user
**.csproj.filters

# Cache
*.cache
*.config

# CLion files
.idea/

#Others
**.json
