# Precompiled Headers
*.gch
*.pch

# Executables
*.out
*.app

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user
**.csproj.filters

# Built by the project
*.cache
*.config
bin/
bin-int/
FrostEditor/assets/cache/
Frost/vendor/nvvk/shared_sources/bin/
Frost/vendor/nvvk/shared_sources/bin-int/

# CLion files
.idea/

#Others
**.json
